.logo {
    display: flex;
    flex-direction: column;

    &__image {
        margin: 0 auto $gutter-small;
        width: 6rem;
    }

    &__text {
        color: $color-text-secondary;
        font: {
            size: 1.5rem;
            weight: 700;
        }
        text-align: center;
    }
}
