$header-width: 25vw;
$banner-height: 100vh;
$banner-title-width: 60%;

$border-width: .25rem;

$color-main: #123456;
$color-secondary: #55ddff;
$color-text: #123789;
$color-text-secondary: #FFF;
$color-border-light: #CCC;
$color-border-dark: #666;

$font-stack: 'Open Sans', Arial, sans-serif;

$gutter: 1rem;
$gutter-extra-large: $gutter * 5;
$gutter-large: $gutter * 2;
$gutter-small: $gutter / 2;
$gutter-very-large: $gutter-large * 2;
$gutter-very-small: $gutter-small / 2;
